.orderTitle{
    background-color: #fff;
    width: 80%;
    max-height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 20px;
}

.orderTitle thead{
    border-bottom: 2px solid black;
    text-align: center;
    color: #d67b03;
}

.orderTitle tbody tr td{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 50px;
    text-align: center;
}


.orderTitle tfoot tr td{
    text-align: center;
    color: red;
}

.orderTitle tfoot{
    width: 50px;
    height: 60px;
}