.contBasket{
    color:#5e4a2d;
    margin-bottom: 20px;
    text-align: center;
    z-index: 5;
}

.priceBasket{
    color: black;
}

.QtnBasket{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btnOrder{
    width: 40%;
    border: 2px solid #8ab4f8;
    text-align: center;
    border-radius: 17px;
    color: #d77b03;
}