.title{
    font:bold 20px Almarai;
    letter-spacing: 0;
    line-height: 64px;
}

  
.font {
    font-family:inherit;
    color: black;
    
}

.colorHedar{
    font-family: 'Playfair Display', serif;
    color: #d77b03;
    font-size: 40px;
    padding-top: 7px;
    justify-content: center;
}

.afterLine{
    height: 1px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #d77b03;
}
.titleRols{
    color: #d77b03;
    font-family: 'Playfair Display', serif;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titleRols h2 {
    font-size: 70px;
}

@media(max-width: 960px){
    .titleRols h2{
        font-size: 60px;
    }

}
@media(max-width: 500px){
    .titleRols h2 {
        font-size: 40px;

    }
}

@media(max-width: 500px){
    .titleRols h2{
        font-size: 30px;
    }
}
